doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="jquery/dist/jquery.js")
    script(src="popper.js/dist/umd/popper.js")
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap.css")
    script(src="bootstrap/dist/js/bootstrap.js")
    link(rel="stylesheet", href="/stylesheets/chat.css")
  body
      block content
      block script
      
